//- index.jade
doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title!=title
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400")
    link(rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="css/style.css")
  body
    #container
      h1 #{title}
      h2 #{location}
      #events
        h3 Events
        .ttc-events
          for event in events
            a(href=event.url)
              h4= event.title
              ul
                li= event.date
                li= event.time
                li= event.location
      #games
        h3 Games
        p The Tech & Tabletop Club has a library of games available for students to play. These games are available on game nights and on request.
        ul
          for game in games
            li= game.name
            -if(game.expansions != [])
              ul
                for item in game.expansions
                  li= item.name
      #sponsors
        h3 Sponsors
        h4 Gauntlet Games
        iframe(src="https://www.google.com/maps/embed/v1/place?q=Gauntlet%20Games%2C%20South%2013th%20Street%2C%20Lincoln%2C%20NE%2C%20United%20States&amp;key=AIzaSyDPnieDPzgsTPPhEtnJvitexdXspzDK8Xk" allowfullscreen="" frameborder="0" height="450" width="600")
      h3 Officers
      #officers
        for person in officers
          .officer
            h4 #{person.name}
            h5 #{person.position}
            img(src=person.image)
      #contact
        h3 Contact Us
        p Questions? Comments? Heaps of praise? Let us know!
        form
          textarea Whatup?
          button Submit