//- index.jade
doctype html
html(lang='en')
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title!=title
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400")
    link(rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="css/borderMenu.css")
    link(rel="stylesheet" type="text/css" href="css/style.css")
    link(rel="icon" type="image/png" href="/img/ttc-favicon.png")
    script(src="js/modernizr.custom.js")
  body
    #container
      #header
        img(src="img/Logo01Trans.png")
        h1 #{title}
        h2 #{location}
      #events
        h3 Events
        .ttc-events
          for event in events
            a(href=event.url target="_blank")
              h4= event.title
              ul
                li= event.date
                li= event.time
                li= event.location
      #games
        h3 Games
        p The Tech & Tabletop Club has a library of games available for students to play. These games are available at game nights and upon request.
        ul
          for game in games
            li
              a(href='http://boardgamegeek.com/boardgame/#{game.bggId}' target="_blank")= game.name
            if(game.expansions != [])
              ul
                for item in game.expansions
                  li
                    a(href='http://boardgamegeek.com/boardgame/#{item.bggId}' target="_blank")= item.name
      #sponsors
        h3 Sponsors
        h4 Gauntlet Games
        iframe(src="https://www.google.com/maps/embed/v1/place?q=Gauntlet%20Games%2C%20South%2013th%20Street%2C%20Lincoln%2C%20NE%2C%20United%20States&amp;key=AIzaSyDPnieDPzgsTPPhEtnJvitexdXspzDK8Xk" allowfullscreen="" frameborder="0" height="450" width="600")
      h3 Officers
      #officers
        for person in officers
          .officer
            img(src=person.image)
            h4 #{person.name}
            h5 #{person.position}
      #contact
        h3 Contact Us
        p Got an idea to improve our community? Drop us a line below.
        form(method="POST" action='/email')
          label(for="email") E-mail:
          input(name="email" placeholder="e-mail" required="" type="text")
          label(for="message") Message:
          textarea(name="message" type="textbox" placeholder="Tell us what you think. Should we be more awesome? Think we are trying too hard?" required="")
          label() 
          button(type="submit") Hit us up!
          
      nav(id="bt-menu" class="bt-menu")
        a(href="#" class="bt-menu-trigger")
          span Menu
        ul
          li
            a(href="#events") Events
          li
            a(href="#games") Games
          li
            a(href="#sponsors") Sponsors
          li
            a(href="#officers") Officers
          li
            a(href="#contact") Contact Us
        ul
          li
            a(href="http://www.twitter.com/UnionTTC" class="fa fa-twitter ttc-footer-icon") Twitter
          li
            a(href="http://plus.google.com/u/0/b/107128998391136934091/107128998391136934091/about" class="fa fa-google-plus ttc-footer-icon") Google+
          li
            a(href="http://www.facebook.com/UnionTTC" class="fa fa-facebook ttc-footer-icon") Facebook
          li
            a(href="https://github.com/UnionTTC" class="fa fa-github-alt ttc-footer-icon") icon-github
      
      script(src="js/classie.js")
      script(src="js/borderMenu.js")
